{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ConnectionStrings": {
    "Demo": "Data Source=$(DatabaseServer);Initial Catalog=DemoDB;User ID=$(DatabaseUsername);Password=$(DatabasePassword)"
  }
}
