Expand-PsakeConfiguration `
@{



    DeployUsername = 'DeployUser'
    DeployPassword = 'xxxxxxxx'

    DatabaseServer = 'mssql.example.com'
    DatabaseUsername = 'dbuser'
    DatabasePassword = 'xxxxxxxx'
}