Expand-PsakeConfiguration `
@{

    AdminUsername = 'Administrator'
    AdminPassword = 'xxxxxxxx'

    ServiceUsername = 'SvcUser'
    ServicePassword = 'xxxxxxxx'


    DatabaseServer = 'mssql.example.com'
    DatabaseUsername = 'dbuser'
    DatabasePassword = 'xxxxxxxx'
}